body{
   background-color: #fcedda; 
   color: #ee4e34;
   font-family: 'PT Serif', serif;
   font-size:20px;
}
#score{
margin-left:-350px;
}
#timer{
    float:right;
    margin-right:300px;
}
#sketch-drawing{
    font-size:35px !important;
}